.melon-image {
  height: 300px;
  width: 300px;
}

#melon-list {
  display: flex;
  flex-wrap: wrap;
}

.carousel-inner img {
  height: 100%;
  width: 100%; /* Set width to 100% */
  margin: auto;
}

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}